.title{
	background-color:cornflowerblue;
}
#title{
	color: white;
	font-size : 17px;
}
.ff{
	width: 32px;
	height: 32px;
}
.uu{
}
.pp{
	width: 124px;
	height: 128px;
	background-color: white;
}
.im{
	width: 65px;
}
.hh{
	font-size: 15px;
	color: #000000;
}
.te{
	font-size: 13px;
}